/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #eee;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
}






body {
    min-height: 100vh;
    background-color: var(--body-color);
    width: 100vw;

}

.bg {
    width: 70%;
    height: 580px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 25px;
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 5;
}

/* 헤드 */

.bg header {
    width: 90%;
    height: 15%;

    margin: 0 auto;
    padding-left: 10px;
    padding-top: 10px;
}

.header-toDay {

    padding-top: 5px;
    display: flex;
}

.header-toDay p {
    padding-left: 2px;
}

#thisMonth {
    font-weight: bold;
}

.header-user {
    display: flex;
    justify-content: space-between;
}

/* main */
.bg main {

    width: 95%;
    height: 70%;
    margin: 0 auto;
}

main .weekly {
    width: 95%;
    height: 15%;
    display: flex;
    margin: 0 auto;

}

main .weekly div {
    width: 17%;
    text-align: center;

}

#week {
    font-weight: 500;
    font-size: 0.9rem;
}

/* 오늘날짜 표시하는 css */
.today_color {
    color: #5c7cfa;
}

/* 오늘표시 원 */
.ground {
    margin-top: 5px;
    width: 5px;
    height: 5px;
    background: #5c7cfa;
    border-radius: 50%;
    /* 가운데로 오게하기 */
    margin: 0 auto;

    visibility: hidden;
    opacity: 0;
    transition: 0.4 ease-in-out;
}

.todayGround {
    visibility: visible;
    opacity: 1;
}

main .todolist {
    width: 90%;
    height: 85%;
    margin: 0 auto;
    background: #eee;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

main .todolist div {
    padding: 5px 5px 5px 10px;
    text-align: center;

}

/* 새로 추가되는 일정들 */
.list-in {
    transition: 0.5s ease-in-out;
}

/*  */
.addtodo {
    width: 80%;
    height: 80px;

    margin: 0 auto;
    border-radius: 25px;
    background: white;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

/* 시간  번호*/


.addtodo .num_time {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;


}

/* 내용 */
.addtodo span {
    padding-top: 50px;
    font-weight: 600;
}

.bg footer {
    width: 100%;
    height: 15%;

}

.footer-main {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuToggle {
    position: relative;
    top: 30px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.menuToggle::before {
    content: '+';
    position: absolute;
    font-size: 3em;
    font-weight: 200;
    color: #ff216d;
    transition: 1.5s;
}

.menuToggle.active::before {
    transform: rotate(225deg);
}

.menu {
    position: absolute;
    top: 50px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 70px;
    z-index: -1;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuToggle.active~.menu {
    width: 240px;
    height: 70px;
    z-index: 1;
    /* 메뉴 위치 */
    transform: translateY(-100px);
    transition-delay: 0s, 0.5s 0.5s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    left: calc(50% - 8px);
    bottom: 4px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition: 0.5s;
}

/* 버튼누를고 위로 뜰때 아래 꽁지같은거 생성 */
.menuToggle.active~.menu::before {
    transition-delay: 0.5s;
    bottom: -6px;
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 40px;
}

.menu ul li {
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: 0.25s;
    transition-delay: calc(0s + var(--i));

}


.menuToggle.active~.menu ul li {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition-delay: calc(0.5s + var(--i));

}

.menu ul li p {
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    color: #555;
}

.menu ul li p:hover {
    color: #ff2164;
}




/* 모달 */
.modal-background {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

}

.modal {
    position: absolute;
    top: 5%;
    width: 440px;
    background-color: #e0e3fd;
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.modal h3 {
    margin: 40px 0 7px 0;
    font-size: 25px;
    color: #6a75ca;
    font-family: "GmarketBold";
}

.modal h4 {
    font-size: 20px;
}

.modal img {
    width: 200px;
    margin: 30px auto;
    border-radius: 15px;
}

.modal p {
    margin: 0 auto;
    width: 310px;
    font-size: 17px;
    line-height: 24px;
}

.btn-close {
    padding: 8px 140px;
    margin: 25px 0 35px 0;
    background-color: #6a75ca;
    border-radius: 10px;
    border: none;
    color: white;
}

.btn-close:hover {
    background-color: white;
    color: #6a75ca;
    transition: 0.3s ease-out;
    cursor: pointer;
}

/* add 모달 */
#timeInput {
    width: 120px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    text-align: center;
    margin-top: 5px;
}

/*  */
#todoInput {
    margin-top: 5px;
    width: 230px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

#add-modal-btn {
    margin-top: 10px;
    width: 78px;
    height: 32px;
    padding: 0 16px;
    border: none;
    border-radius: 14px;
    color: black;
    font-weight: bold;
    outline: none;
    background: #5c7cfa;
    opacity: 1;
}


/* user 모달 */
#userNameInput {

    width: 230px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    text-align: center;
}


.usernameBtn {

    width: 58px;
    height: 32px;
    padding: 0 16px;
    border: none;
    border-radius: 14px;
    color: black;
    font-weight: bold;
    outline: none;
    background: #5c7cfa;
    opacity: 0.1;
}

.usernameBtnShow {
    opacity: 1;
    cursor: pointer;
}

/* remove 모달 */
.removeBtn {
    width: 108px;
    height: 42px;
    padding: 0 16px;
    border: none;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    outline: none;
    background: #ff6b6b;

}


/* @media screen and (max-width: 1500px) {
    .bg {
        width: 75%;
        height: 600px;
        margin: 0 auto;
        margin-top: 40px;
        border-radius: 25px;
        background: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .addtodo {
        width: 90%;
        height: 80px;
        margin: 0 auto;
        border-radius: 25px;
        background: white;
        margin-bottom: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.15);
    }
} */


/* 모바일 */
@media screen and (max-width: 800px) {
    .bg {
        width: 75%;
        height: 600px;
        margin: 0 auto;
        margin-top: 40px;
        border-radius: 25px;
        background: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    .addtodo {
        width: 90%;
        height: 80px;
        margin: 0 auto;
        border-radius: 25px;
        background: white;
        margin-bottom: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.15);
    }
}